{% extends 'main.html' %}
{% block content %}

<table>
    <tr>
      <th>Id</th>
      <th>Дата</th>
      <th>Обратившийся</th>
      <th>Можно ли звонить</th>
      <th>Статус</th>
      <th>Количество пострадавших</th>
      <th>Число</th>
    </tr>
    <tr>
        <th>{{ object.id }}</th>
        <th>{{ object.date }}</th>
        <th>{{ object.applicant_id }}</th>
        <th>{{ object.do_not_call }}</th>
        <th>{{ object.status }}</th>
        <th>{{ object.victims_number }}</th>
        <th>{{ object.number }}</th>
    </tr>
</table>

<a href="{% url 'core:appeal_update' pk=object.id %}">Изменить обращение</a>

{% endblock content %}