{% extends 'main.html' %}
{% block content %}

<div class="container">
    <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
    </form>

    {% if object_list.count > 0 %}
        <h1>Заявители</h1>
        <table>
          <tr>
            <th>Forloop</th>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>День Рождения</th>
            <th>Состояние здоровья</th>
            <th>Пол</th>
            <th>Телефон</th>
            <th>Фото</th>
          </tr>
          {% for object in object_list %}
              {% if forloop.first or forloop.last %}
                  <tr>
                    <th style="color:red">{{ forloop.counter }}</th>
                    <th style="color:red">{{ object.id | default:"-" | default_if_none:"-" }}</th>
                    <th style="color:red">{{ object.middle_name | lower | title | default:"-" | default_if_none:"-" }}</th>
                    <th style="color:red"><a href="{% url 'core:applicant_detail' pk=object.id %}">{{ object.first_name | lower | title | default:"-" | default_if_none:"-" }}</a></th>
                    <th style="color:red">{{ object.last_name | lower | title | default:"-" | default_if_none:"-" }}</th>
                    <th style="color:red">{{ object.birthday | default:"-" | default_if_none:"-" | date }}</th>
                    <th style="color:red">{{ object.health_status | default:"-" | default_if_none:"-" }}</th>
                    <th style="color:red">{{ object.gender | default:"-" | default_if_none:"-" | upper }}</th>
                    <th style="color:red">{{ object.phone | default:"-" | default_if_none:"-" }}</th>
                    <th style="color:red">{{ object.image | default:"-" | default_if_none:"-" }}</th>
                  </tr>
              {% else %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ object.id | default:"-" | default_if_none:"-" }}</th>
                    <th>{{ object.middle_name | lower | title | default:"-" | default_if_none:"-" }}</th>
                    <th><a href="{% url 'core:applicant_detail' pk=object.id %}">{{ object.first_name | lower | title | default:"-" | default_if_none:"-" }}</a></th>
                    <th>{{ object.last_name | lower | title | default:"-" | default_if_none:"-" }}</th>
                    <th>{{ object.birthday | default:"-" | default_if_none:"-" | date }}</th>
                    <th>{{ object.health_status | default:"-" | default_if_none:"-" }}</th>
                    <th>{{ object.gender | default:"-" | default_if_none:"-" }}</th>
                    <th>{{ object.phone | default:"-" | default_if_none:"-" }}</th>
                    <th>{{ object.image | default:"-" | default_if_none:"-" }}</th>
                  </tr>
              {% endif %}
          {% empty %}
              <h2>Пострадавших нет</h2>
          {% endfor %}
        </table>
    {% else %}
        <h1>Нет заявителей</h1>
    {% endif %}

    <a href="{% url 'core:applicants_create'%}">Создать заявителя</a>
</div>

{% endblock content %}