{% extends 'main.html' %}
{% block content %}

{% if object_list.count > 0 %}
    <h1>Экстренные службы</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Код службы</th>
        <th>Телефон</th>
      </tr>
      {% for object in object_list %}
          <tr>
            <th>{{ object.id }}</th>
            <th><a href="{% url 'core:service_detail' pk=object.id %}">{{ object.title | lower | title}}</a></th>
            <th>{{ object.service_code }}</th>
            <th>{{ object.phone }}</th>
          </tr>
      {% empty %}
          <h2>Служб пока нет</h2>
      {% endfor %}
    </table>
{% else %}
    <h1>Нет служб</h1>
{% endif %}

<a href="{% url 'core:services_create'%}">Создать экстренную службу</a>

{% endblock content %}